body {
  background-color: #282828;
}

* {
  box-sizing: border-box;
}

.board {
  background: #f7f7e1;
  width: 410px;
  margin: auto;
  border: 5px solid #6a4f00;
}

.token {
  width: 80%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.token.red {
  background-image: url("../images/token-red.png");
}

.token.white {
  background-image: url("../images/token-white.png");
}

.token:hover {
  cursor: pointer;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  padding: 0;
  margin: 0;

  width: 50px;
  height: 50px;
}

.row:nth-child(odd) .column:nth-child(odd),
.row:nth-child(even) .column:nth-child(even) {
  background-color: rgb(97, 25, 25);
}

.column.highlighted {
  background: yellow !important;
}
